/*******************************************************************************
 Copyright 2016 Ellucian Company L.P. and its affiliates.
*******************************************************************************/
@font-face {
    font-family: 'openSansRegular';
    src: url('fonts/OpenSans-Regular.woff');
}
@font-face {
    font-family: 'openSansSemiBold';
    src: url('fonts/OpenSans-Semibold.woff');
}
body {
    background: #f8f8f8;
    font-size: 14px;
    padding: 0px;
    font-family: 'openSansRegular';
    color: #4F585F;
}
.heading-txt {
    display: table-cell;
    padding: 15px;
    line-height: 20px;
}
h1{color: #4F585F;
    font-size: 36px;
    font-family: 'openSansRegular';
}
a {
    color: #000;
}
.main-contain {
    background: #FFF;
    padding: 10px;
    border-bottom: 1px solid rgb(224, 230, 229);
}
.padTop20px {
    padding-bottom: 20px;
}
.marBottom20px {
    margin-bottom: 20px;
}
.bold-text {
    font-family: 'openSansSemiBold';
    font-size: 14px;
}
.main-contain-footer {
    background: #FFF;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-bottom: 1px solid rgb(224, 230, 229);
    color: #ccc;
}
.border-top {
    border-top: 1px solid rgb(224, 230, 229);
}
#content {
    font-size: 14px;
    font-family: 'openSansRegular';
}

img.landing-page-image {
    width: 85px;
    height: 95px;
    float: left;
}

.iframe-embed {
    height: 100%;
    width: 100%;
}
