/*******************************************************************************
 Copyright 2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************/
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 300;
    src: url("fonts/nunito/Nunito-Light.woff2") format("woff2"),
    url("fonts/nunito/Nunito-Light.woff") format("woff"),
    url("fonts/nunito/Nunito-Light.ttf") format("truetype")
}

@font-face {
    font-family: "Nunito";
    font-style: italic;
    font-weight: 300;
    src: url("fonts/nunito/Nunito-LightItalic.woff2") format("woff2"),
    url("fonts/nunito/Nunito-LightItalic.woff") format("woff"),
    url("fonts/nunito/Nunito-LightItalic.ttf") format("truetype")
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/nunito/Nunito-Regular.woff2") format("woff2"),
    url("fonts/nunito/Nunito-Regular.woff") format("woff"),
    url("fonts/nunito/Nunito-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "Nunito";
    font-style: italic;
    font-weight: 400;
    src: url("fonts/nunito/Nunito-Italic.woff2") format("woff2"),
    url("fonts/nunito/Nunito-Italic.woff") format("woff"),
    url("fonts/nunito/Nunito-Italic.ttf") format("truetype")
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    src: url("fonts/nunito/Nunito-SemiBold.woff2") format("woff2"),
    url("fonts/nunito/Nunito-SemiBold.woff") format("woff"),
    url("fonts/nunito/Nunito-SemiBold.ttf") format("truetype")
}

@font-face {
    font-family: "Nunito";
    font-style: italic;
    font-weight: 600;
    src: url("fonts/nunito/Nunito-SemiBoldItalic.woff2") format("woff2"),
    url("fonts/nunito/Nunito-SemiBoldItalic.woff") format("woff"),
    url("fonts/nunito/Nunito-SemiBoldItalic.ttf") format("truetype")
}